<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<h1>Page to Upload the Balance and Transaction Files</h1>
{% if error_message %}
    <p><strong>{{ error_message }}</strong></p>
{% endif %}
<form method="POST" action="#" enctype="multipart/form-data">
	<!-- COMPONENT START -->
    {% csrf_token %}
    {% for field in form %}
        <div class="form-group">
            <div class="input" >{{ field }}</div>
        </div>
    {% endfor %}
	<div class="form-group">
		<button type="submit" class="btn btn-primary pull-right">Submit</button>
		<button type="reset" class="btn btn-danger">Reset</button>
	</div>
</form>
</body>
</html>